body{
	background-image: url("https://i.pinimg.com/originals/61/45/45/614545d8c4fe4ebce7d679e7c15563e4.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
}

h1{
	color: #FFFFFF;
    text-shadow: 2px 2px #000000;
	font-size: 40px;
	text-align: center;

}

h2{
	text-align: center;
	font-size: 35px;
}

h3{
	text-align: center;
}

p{
text-align: center;
margin: 15px 15px 15px 15px;
font-size: 15px;
}

.logo{
	display: block;
	margin: auto;
}

table{
	width: 100%;
	 border: 1px solid black;
}

th {
	border: 1px solid black;
}

a{
	color: black;
	
}

a:hover{
	color: green;
}

.middle{
	background-color: #FFFFFF;
	margin: auto;
	width: 800px; 	
}

.header{
	width: 100%;
	background-image: url("https://j.gifs.com/ZVV0vv.gif");
	text-align: center;
}

.links{
	width: 100%;
}

.maincontent{
	width: 100%;
}

.footer{
	width:100%;
}